In [4]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT facility_name,SUM(cost) AS revenue
            FROM(
                SELECT f.name AS facility_name, m.firstname||' '||m.surname AS member_name,
                    CASE WHEN m.memid = 0 THEN f.guestcost
                    ELSE f.membercost
                    END as cost
                FROM Bookings b
                JOIN Facilities f ON f.facid = b.facid
                JOIN Members m ON m.memid = b.memid
                WHERE b.starttime LIKE'2012-09-14%'
                ORDER BY cost DESC
            ) t1
            GROUP BY facility_name
            HAVING revenue < 1000
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 0)
('Massage Room 1', 299.3999999999999)
('Massage Room 2', 89.9)
('Pool Table', 0)
('Snooker Table', 0)
('Squash Court', 66.5)
('Table Tennis', 0)
('Tennis Court 1', 75)
('Tennis Court 2', 60)